# 信用情報の学習

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [28]:
train = pd.read_csv("/Users/wakaichiaki/diveintocode-ml/diveintocode-ml/Week03/application_train.csv")
print(train)

        SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0           100002       1         Cash loans           M            N
1           100003       0         Cash loans           F            N
2           100004       0    Revolving loans           M            Y
3           100006       0         Cash loans           F            N
4           100007       0         Cash loans           M            N
5           100008       0         Cash loans           M            N
6           100009       0         Cash loans           F            Y
7           100010       0         Cash loans           M            Y
8           100011       0         Cash loans           F            N
9           100012       0    Revolving loans           M            N
10          100014       0         Cash loans           F            N
11          100015       0         Cash loans           F            N
12          100016       0         Cash loans           F            N
13          100017       0         Cash loans           M            Y
14          100018       0         Cash loans           F            N
15          100019       0         Cash loans           M            Y
16          100020       0         Cash loans           M            N
17          100021       0    Revolving loans           F            N
18          100022       0    Revolving loans           F            N
19          100023       0         Cash loans           F            N
20          100024       0    Revolving loans           M            Y
21          100025       0         Cash loans           F            Y
22          100026       0         Cash loans           F            N
23          100027       0         Cash loans           F            N
24          100029       0         Cash loans           M            Y
25          100030       0         Cash loans           F            N
26          100031       1         Cash loans           F            N
27          100032       0         Cash loans           M            N
28          100033       0         Cash loans           M            Y
29          100034       0    Revolving loans           M            N
...            ...     ...                ...         ...          ...
307481      456225       1         Cash loans           M            N
307482      456226       0         Cash loans           F            Y
307483      456227       0         Cash loans           F            N
307484      456228       0         Cash loans           F            Y
307485      456229       0    Revolving loans           F            N
307486      456230       0         Cash loans           F            Y
307487      456231       0         Cash loans           M            N
307488      456232       0         Cash loans           F            N
307489      456233       1         Cash loans           F            N
307490      456234       0         Cash loans           M            N
307491      456235       0         Cash loans           M            Y
307492      456236       0         Cash loans           M            Y
307493      456237       0         Cash loans           F            N
307494      456238       0         Cash loans           M            Y
307495      456239       0         Cash loans           M            Y
307496      456240       0    Revolving loans           F            N
307497      456241       0         Cash loans           F            Y
307498      456242       0         Cash loans           M            Y
307499      456243       0         Cash loans           F            N
307500      456244       0         Cash loans           F            N
307501      456245       0         Cash loans           F            N
307502      456246       0         Cash loans           F            N
307503      456247       0         Cash loans           F            N
307504      456248       0         Cash loans           F            N
307505      456249       0         Cash loans           F            N
307506      456251       0         Cash loans           M            N
307507      456252       0         Cash loans           F            N
307508      456253       0         Cash loans           F            N
307509      456254       1         Cash loans           F            N
307510      456255       0         Cash loans           F            N

       FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0                    Y             0        202500.000    406597.5
1                    N             0        270000.000   1293502.5
2                    Y             0         67500.000    135000.0
3                    Y             0        135000.000    312682.5
4                    Y             0        121500.000    513000.0
5                    Y             0         99000.000    490495.5
6                    Y             1        171000.000   1560726.0
7                    Y             0        360000.000   1530000.0
8                    Y             0        112500.000   1019610.0
9                    Y             0        135000.000    405000.0
10                   Y             1        112500.000    652500.0
11                   Y             0         38419.155    148365.0
12                   Y             0         67500.000     80865.0
13                   N             1        225000.000    918468.0
14                   Y             0        189000.000    773680.5
15                   Y             0        157500.000    299772.0
16                   N             0        108000.000    509602.5
17                   Y             1         81000.000    270000.0
18                   Y             0        112500.000    157500.0
19                   Y             1         90000.000    544491.0
20                   Y             0        135000.000    427500.0
21                   Y             1        202500.000   1132573.5
22                   N             1        450000.000    497520.0
23                   Y             0         83250.000    239850.0
24                   N             2        135000.000    247500.0
25                   Y             0         90000.000    225000.0
26                   Y             0        112500.000    979992.0
27                   Y             1        112500.000    327024.0
28                   Y             0        270000.000    790830.0
29                   Y             0         90000.000    180000.0
...                ...           ...               ...         ...
307481               Y             0        225000.000    297000.0
307482               Y             0        225000.000    500566.5
307483               Y             0         99000.000    247275.0
307484               N             0        540000.000    545040.0
307485               Y             1        270000.000    180000.0
307486               Y             1        292500.000    355536.0
307487               Y             0        117000.000   1071909.0
307488               N             0        157500.000    135000.0
307489               Y             0        225000.000    521280.0
307490               Y             0         81000.000    135000.0
307491               Y             2         90000.000   1078200.0
307492               Y             0        585000.000   1575000.0
307493               Y             0        135000.000    946764.0
307494               N             1        270000.000    479700.0
307495               N             0        180000.000    808650.0
307496               N             0        360000.000    337500.0
307497               Y             0        180000.000    270126.0
307498               Y             0        198000.000   1312110.0
307499               Y             0         81000.000    225000.0
307500               Y             0        261000.000   1303812.0
307501               Y             3         81000.000    269550.0
307502               Y             1         94500.000    225000.0
307503               Y             0        112500.000    345510.0
307504               Y             0        153000.000    331920.0
307505               Y             0        112500.000    225000.0
307506               N             0        157500.000    254700.0
307507               Y             0         72000.000    269550.0
307508               Y             0        153000.000    677664.0
307509               Y             0        171000.000    370107.0
307510               N             0        157500.000    675000.0

        AMT_ANNUITY  ...  FLAG_DOCUMENT_18 FLAG_DOCUMENT_19 FLAG_DOCUMENT_20  \
0           24700.5  ...                 0                0                0
1           35698.5  ...                 0                0                0
2            6750.0  ...                 0                0                0
3           29686.5  ...                 0                0                0
4           21865.5  ...                 0                0                0
5           27517.5  ...                 0                0                0
6           41301.0  ...                 0                0                0
7           42075.0  ...                 0                0                0
8           33826.5  ...                 0                0                0
9           20250.0  ...                 0                0                0
10          21177.0  ...                 0                0                0
11          10678.5  ...                 0                0                0
12           5881.5  ...                 0                0                0
13          28966.5  ...                 0                0                0
14          32778.0  ...                 0                0                0
15          20160.0  ...                 0                0                0
16          26149.5  ...                 0                0                0
17          13500.0  ...                 0                0                0
18           7875.0  ...                 0                0                0
19          17563.5  ...                 0                0                0
20          21375.0  ...                 0                0                0
21          37561.5  ...                 0                0                0
22          32521.5  ...                 0                0                0
23          23850.0  ...                 0                0                0
24          12703.5  ...                 0                0                0
25          11074.5  ...                 0                0                0
26          27076.5  ...                 0                0                0
27          23827.5  ...                 0                0                0
28          57676.5  ...                 0                0                0
29           9000.0  ...                 0                0                0
...             ...  ...               ...              ...              ...
307481      19975.5  ...                 0                0                0
307482      34969.5  ...                 0                0                0
307483      16479.0  ...                 0                0                0
307484      35617.5  ...                 0                0                0
307485       9000.0  ...                 0                0                0
307486      18283.5  ...                 0                0                0
307487      31473.0  ...                 0                0                0
307488      13351.5  ...                 0                0                0
307489      23089.5  ...                 0                0                0
307490       9148.5  ...                 0                0                0
307491      31522.5  ...                 0                0                0
307492      43443.0  ...                 0                0                0
307493      37678.5  ...                 0                0                0
307494      46858.5  ...                 0                0                0
307495      23773.5  ...                 0                0                0
307496      16875.0  ...                 0                0                0
307497      12028.5  ...                 0                0                0
307498      52168.5  ...                 0                0                0
307499      12694.5  ...                 0                0                0
307500      35982.0  ...                 0                0                0
307501      11871.0  ...                 0                0                0
307502      10620.0  ...                 0                0                0
307503      17770.5  ...                 0                0                0
307504      16096.5  ...                 0                0                0
307505      22050.0  ...                 0                0                0
307506      27558.0  ...                 0                0                0
307507      12001.5  ...                 0                0                0
307508      29979.0  ...                 0                0                0
307509      20205.0  ...                 0                0                0
307510      49117.5  ...                 0                0                0

       FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
0                     0                        0.0                       0.0
1                     0                        0.0                       0.0
2                     0                        0.0                       0.0
3                     0                        NaN                       NaN
4                     0                        0.0                       0.0
5                     0                        0.0                       0.0
6                     0                        0.0                       0.0
7                     0                        0.0                       0.0
8                     0                        0.0                       0.0
9                     0                        NaN                       NaN
10                    0                        0.0                       0.0
11                    0                        0.0                       0.0
12                    0                        0.0                       0.0
13                    0                        0.0                       0.0
14                    0                        NaN                       NaN
15                    0                        0.0                       0.0
16                    0                        0.0                       0.0
17                    0                        NaN                       NaN
18                    0                        0.0                       0.0
19                    0                        0.0                       0.0
20                    0                        NaN                       NaN
21                    0                        0.0                       0.0
22                    0                        0.0                       0.0
23                    0                        0.0                       0.0
24                    0                        0.0                       0.0
25                    0                        0.0                       0.0
26                    0                        0.0                       0.0
27                    0                        0.0                       0.0
28                    0                        0.0                       0.0
29                    0                        NaN                       NaN
...                 ...                        ...                       ...
307481                0                        0.0                       0.0
307482                0                        0.0                       0.0
307483                0                        0.0                       0.0
307484                0                        NaN                       NaN
307485                0                        0.0                       0.0
307486                0                        0.0                       0.0
307487                0                        0.0                       0.0
307488                0                        0.0                       0.0
307489                0                        0.0                       0.0
307490                0                        0.0                       0.0
307491                0                        0.0                       0.0
307492                0                        0.0                       0.0
307493                0                        0.0                       0.0
307494                0                        0.0                       0.0
307495                0                        0.0                       0.0
307496                0                        0.0                       0.0
307497                0                        0.0                       0.0
307498                0                        0.0                       0.0
307499                0                        0.0                       0.0
307500                0                        0.0                       0.0
307501                0                        NaN                       NaN
307502                0                        0.0                       0.0
307503                0                        0.0                       0.0
307504                0                        NaN                       NaN
307505                0                        0.0                       0.0
307506                0                        NaN                       NaN
307507                0                        NaN                       NaN
307508                0                        1.0                       0.0
307509                0                        0.0                       0.0
307510                0                        0.0                       0.0

        AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                              0.0                        0.0
1                              0.0                        0.0
2                              0.0                        0.0
3                              NaN                        NaN
4                              0.0                        0.0
5                              0.0                        0.0
6                              0.0                        1.0
7                              0.0                        0.0
8                              0.0                        0.0
9                              NaN                        NaN
10                             0.0                        1.0
11                             0.0                        0.0
12                             0.0                        1.0
13                             0.0                        0.0
14                             NaN                        NaN
15                             0.0                        0.0
16                             0.0                        0.0
17                             NaN                        NaN
18                             0.0                        0.0
19                             0.0                        0.0
20                             NaN                        NaN
21                             0.0                        0.0
22                             0.0                        0.0
23                             0.0                        0.0
24                             0.0                        0.0
25                             0.0                        0.0
26                             0.0                        0.0
27                             0.0                        0.0
28                             0.0                        1.0

In [50]:
test = pd.read_csv("/Users/wakaichiaki/Downloads/application_test.csv (1).zip")
print(test)

       SK_ID_CURR NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  \
0          100001         Cash loans           F            N               Y
1          100005         Cash loans           M            N               Y
2          100013         Cash loans           M            Y               Y
3          100028         Cash loans           F            N               Y
4          100038         Cash loans           M            Y               N
5          100042         Cash loans           F            Y               Y
6          100057         Cash loans           M            Y               Y
7          100065         Cash loans           M            N               Y
8          100066         Cash loans           F            N               Y
9          100067         Cash loans           F            Y               Y
10         100074         Cash loans           F            N               Y
11         100090         Cash loans           F            N               Y
12         100091         Cash loans           F            N               Y
13         100092         Cash loans           F            Y               Y
14         100106    Revolving loans           M            N               Y
15         100107         Cash loans           M            Y               Y
16         100109         Cash loans           F            Y               Y
17         100117         Cash loans           M            Y               Y
18         100128         Cash loans           F            Y               Y
19         100141         Cash loans           F            Y               Y
20         100150         Cash loans           F            N               Y
21         100168         Cash loans           F            N               Y
22         100169         Cash loans           F            N               Y
23         100170         Cash loans           M            N               Y
24         100171         Cash loans           M            Y               Y
25         100172         Cash loans           F            N               Y
26         100184         Cash loans           F            N               Y
27         100187         Cash loans           F            N               Y
28         100212         Cash loans           F            Y               N
29         100222         Cash loans           F            Y               Y
...           ...                ...         ...          ...             ...
48714      455963         Cash loans           F            N               N
48715      455965         Cash loans           M            Y               Y
48716      456007         Cash loans           M            N               Y
48717      456008         Cash loans           F            N               Y
48718      456009         Cash loans           F            N               Y
48719      456010         Cash loans           F            N               Y
48720      456011         Cash loans           F            Y               Y
48721      456013         Cash loans           F            N               Y
48722      456028         Cash loans           M            N               Y
48723      456058         Cash loans           F            N               N
48724      456111         Cash loans           F            N               Y
48725      456114         Cash loans           F            N               N
48726      456115         Cash loans           M            N               Y
48727      456116         Cash loans           F            N               N
48728      456119         Cash loans           F            N               Y
48729      456120         Cash loans           F            N               N
48730      456122         Cash loans           M            Y               N
48731      456123         Cash loans           F            Y               Y
48732      456166         Cash loans           F            N               Y
48733      456167         Cash loans           F            N               Y
48734      456168         Cash loans           F            N               Y
48735      456169         Cash loans           F            N               N
48736      456170         Cash loans           F            Y               Y
48737      456189         Cash loans           F            N               Y
48738      456202         Cash loans           F            Y               N
48739      456221         Cash loans           F            N               Y
48740      456222         Cash loans           F            N               N
48741      456223         Cash loans           F            Y               Y
48742      456224         Cash loans           M            N               N
48743      456250         Cash loans           F            Y               N

       CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
0                 0          135000.0    568800.0      20560.5
1                 0           99000.0    222768.0      17370.0
2                 0          202500.0    663264.0      69777.0
3                 2          315000.0   1575000.0      49018.5
4                 1          180000.0    625500.0      32067.0
5                 0          270000.0    959688.0      34600.5
6                 2          180000.0    499221.0      22117.5
7                 0          166500.0    180000.0      14220.0
8                 0          315000.0    364896.0      28957.5
9                 1          162000.0     45000.0       5337.0
10                0           67500.0    675000.0      25447.5
11                0          135000.0    261621.0      16848.0
12                0          247500.0    296280.0      23539.5
13                0           90000.0    360000.0      18535.5
14                0          180000.0    157500.0       7875.0
15                0          180000.0    296280.0      21690.0
16                0          202500.0    407520.0      26041.5
17                0           90000.0    499221.0      22117.5
18                1          225000.0    431280.0      23526.0
19                0          175500.0    478498.5      46741.5
20                0           99000.0    225000.0      19242.0
21                0          157500.0    266652.0      16443.0
22                0          135000.0    540000.0      27702.0
23                1          337500.0   1313212.5      42493.5
24                0          157500.0    539100.0      29245.5
25                0           76500.0    225000.0      12334.5
26                0          112500.0    256032.0      10759.5
27                0          225000.0    501363.0      25726.5
28                0           90000.0    450000.0      23107.5
29                0          360000.0    945000.0      34074.0
...             ...               ...         ...          ...
48714             1          360000.0    547272.0      43366.5
48715             0          315000.0    900000.0      57519.0
48716             0          135000.0    318645.0      16398.0
48717             0           81000.0    180000.0      13455.0
48718             0          225000.0    360000.0      19530.0
48719             1          112500.0    690313.5      35374.5
48720             1          171000.0    323460.0      23134.5
48721             1          130500.0    468333.0      37129.5
48722             0          220500.0    166500.0      13284.0
48723             1           67500.0    315000.0      16213.5
48724             1          112500.0    514710.0      17707.5
48725             0           45000.0    450000.0      24543.0
48726             1          225000.0   1002339.0      37917.0
48727             1          180000.0    149256.0      15291.0
48728             0          247500.0    685386.0      38398.5
48729             2           81000.0    135000.0      16020.0
48730             2          157500.0    445095.0      40824.0
48731             0          112500.0    450000.0      28890.0
48732             0          189000.0    479700.0      54382.5
48733             0          135000.0   1047771.0      37764.0
48734             0          135000.0    835686.0      46660.5
48735             0           85500.0    109008.0       7411.5
48736             0          157500.0    500490.0      48888.0
48737             0          270000.0    360000.0      28570.5
48738             3          135000.0    252022.5      23112.0
48739             0          121500.0    412560.0      17473.5
48740             2          157500.0    622413.0      31909.5
48741             1          202500.0    315000.0      33205.5
48742             0          225000.0    450000.0      25128.0
48743             0          135000.0    312768.0      24709.5

       AMT_GOODS_PRICE  ... FLAG_DOCUMENT_18 FLAG_DOCUMENT_19  \
0             450000.0  ...                0                0
1             180000.0  ...                0                0
2             630000.0  ...                0                0
3            1575000.0  ...                0                0
4             625500.0  ...                0                0
5             810000.0  ...                0                0
6             373500.0  ...                0                0
7             180000.0  ...                0                0
8             315000.0  ...                0                0
9              45000.0  ...                0                0
10            675000.0  ...                0                0
11            216000.0  ...                0                0
12            225000.0  ...                0                0
13            360000.0  ...                0                0
14            157500.0  ...                0                0
15            225000.0  ...                0                0
16            360000.0  ...                0                0
17            373500.0  ...                0                0
18            360000.0  ...                0                0
19            454500.0  ...                0                0
20            225000.0  ...                0                0
21            202500.0  ...                0                0
22            540000.0  ...                0                0
23           1012500.0  ...                0                0
24            450000.0  ...                0                0
25            225000.0  ...                0                0
26            180000.0  ...                0                0
27            418500.0  ...                0                0
28            450000.0  ...                0                0
29            945000.0  ...                0                0
...                ...  ...              ...              ...
48714         495000.0  ...                0                0
48715         900000.0  ...                0                0
48716         216000.0  ...                0                0
48717         180000.0  ...                0                0
48718         360000.0  ...                0                0
48719         549000.0  ...                0                0
48720         270000.0  ...                0                0
48721         382500.0  ...                0                0
48722         166500.0  ...                0                0
48723         315000.0  ...                0                0
48724         387000.0  ...                0                0
48725         450000.0  ...                0                0
48726         846000.0  ...                0                0
48727         135000.0  ...                0                0
48728         585000.0  ...                0                0
48729         135000.0  ...                0                0
48730         405000.0  ...                0                0
48731         450000.0  ...                0                0
48732         450000.0  ...                0                0
48733         904500.0  ...                0                0
48734         765000.0  ...                0                0
48735          90000.0  ...                0                0
48736         450000.0  ...                0                0
48737         360000.0  ...                0                0
48738         217561.5  ...                0                0
48739         270000.0  ...                0                0
48740         495000.0  ...                0                0
48741         315000.0  ...                0                0
48742         450000.0  ...                0                0
48743         270000.0  ...                0                0

      FLAG_DOCUMENT_20 FLAG_DOCUMENT_21 AMT_REQ_CREDIT_BUREAU_HOUR  \
0                    0                0                        0.0
1                    0                0                        0.0
2                    0                0                        0.0
3                    0                0                        0.0
4                    0                0                        NaN
5                    0                0                        0.0
6                    0                0                        0.0
7                    0                0                        0.0
8                    0                0                        0.0
9                    0                0                        0.0
10                   0                0                        0.0
11                   0                0                        0.0
12                   0                0                        0.0
13                   0                0                        0.0
14                   0                0                        0.0
15                   0                0                        0.0
16                   0                0                        0.0
17                   0                0                        0.0
18                   0                0                        0.0
19                   0                0                        NaN
20                   0                0                        0.0
21                   0                0                        0.0
22                   0                0                        0.0
23                   0                0                        0.0
24                   0                0                        0.0
25                   0                0                        0.0
26                   0                0                        0.0
27                   0                0                        0.0
28                   0                0                        0.0
29                   0                0                        0.0
...                ...              ...                        ...
48714                0                0                        0.0
48715                0                0                        0.0
48716                0                0                        NaN
48717                0                0                        0.0
48718                0                0                        0.0
48719                0                0                        0.0
48720                0                0                        0.0
48721                0                0                        0.0
48722                0                0                        0.0
48723                0                0                        0.0
48724                0                0                        0.0
48725                0                0                        0.0
48726                0                0                        0.0
48727                0                0                        0.0
48728                0                0                        0.0
48729                0                0                        NaN
48730                0                0                        0.0
48731                0                0                        0.0
48732                0                0                        0.0
48733                0                0                        0.0
48734                0                0                        0.0
48735                0                0                        NaN
48736                0                0                        0.0
48737                0                0                        0.0
48738                0                0                        0.0
48739                0                0                        0.0
48740                0                0                        NaN
48741                0                0                        0.0
48742                0                0                        0.0
48743                0                0                        0.0

       AMT_REQ_CREDIT_BUREAU_DAY  AMT_REQ_CREDIT_BUREAU_WEEK  \
0                            0.0                         0.0
1                            0.0                         0.0
2                            0.0                         0.0
3                            0.0                         0.0
4                            NaN                         NaN
5                            0.0                         0.0
6                            0.0                         0.0
7                            0.0                         0.0
8                            0.0                         0.0
9                            0.0                         0.0
10                           0.0                         0.0
11                           0.0                         0.0
12                           0.0                         0.0
13                           0.0                         0.0
14                           0.0                         0.0
15                           0.0                         0.0
16                           0.0                         0.0
17                           0.0                         0.0
18                           0.0                         0.0
19                           NaN                         NaN
20                           0.0                         0.0
21                           0.0                         0.0
22                           0.0                         0.0
23                           0.0                         0.0
24                           0.0                         0.0
25                           0.0                         0.0
26                           0.0                         0.0
27                           0.0                         0.0
28                           0.0                         0.0
29                           0.0                         0.0
...                          ...                         ...
48714                        0.0                         0.0
48715                        0.0                         0.0
48716                        NaN                         NaN
48717                        0.0                         0.0
48718                        0.0                         0.0
48719                        0.0                         0.0
48720                        0.0                         0.0
48721                        0.0                         0.0
48722                        0.0                         0.0
48723                        0.0                         0.0
48724                        0.0                         0.0
48725                        0.0                         0.0
48726                        0.0                         0.0
48727                        0.0                         0.0
48728                        0.0                         0.0
48729                        NaN                         NaN
48730                        0.0                         0.0
48731                        0.0                         0.0
48732                        0.0                         0.0
48733                        0.0                         0.0
48734                        0.0                         0.0

## 【問題1】コンペティション内容の確認

何を学習し、何を予測するのか
顧客データを読み込み、個人の返済能力があるかどうかを予測する

どのようなファイルを作りKaggleに提出するか
IDと返済能力が無いと判断される確率
以下フォーマットのファイルを提出する
SK_ID_CURR,TARGET
100001,0.1
100005,0.9
100013,0.2
etc.

提出されたものはどういった指標値で評価されるのか
AUC(Area under an ROC curve)

[【ROC曲線とAUC】機械学習の評価指標についての基礎講座](https://www.randpy.tokyo/entry/roc_auc)

In [29]:
train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [31]:
train.isnull().sum()

SK_ID_CURR                         0
TARGET                             0
NAME_CONTRACT_TYPE                 0
CODE_GENDER                        0
FLAG_OWN_CAR                       0
FLAG_OWN_REALTY                    0
CNT_CHILDREN                       0
AMT_INCOME_TOTAL                   0
AMT_CREDIT                         0
AMT_ANNUITY                       12
AMT_GOODS_PRICE                  278
NAME_TYPE_SUITE                 1292
NAME_INCOME_TYPE                   0
NAME_EDUCATION_TYPE                0
NAME_FAMILY_STATUS                 0
NAME_HOUSING_TYPE                  0
REGION_POPULATION_RELATIVE         0
DAYS_BIRTH                         0
DAYS_EMPLOYED                      0
DAYS_REGISTRATION                  0
DAYS_ID_PUBLISH                    0
OWN_CAR_AGE                   202929
FLAG_MOBIL                         0
FLAG_EMP_PHONE                     0
FLAG_WORK_PHONE                    0
FLAG_CONT_MOBILE                   0
FLAG_PHONE                         0
FLAG_EMAIL                         0
OCCUPATION_TYPE                96391
CNT_FAM_MEMBERS                    2
                               ...
DEF_30_CNT_SOCIAL_CIRCLE        1021
OBS_60_CNT_SOCIAL_CIRCLE        1021
DEF_60_CNT_SOCIAL_CIRCLE        1021
DAYS_LAST_PHONE_CHANGE             1
FLAG_DOCUMENT_2                    0
FLAG_DOCUMENT_3                    0
FLAG_DOCUMENT_4                    0
FLAG_DOCUMENT_5                    0
FLAG_DOCUMENT_6                    0
FLAG_DOCUMENT_7                    0
FLAG_DOCUMENT_8                    0
FLAG_DOCUMENT_9                    0
FLAG_DOCUMENT_10                   0
FLAG_DOCUMENT_11                   0
FLAG_DOCUMENT_12                   0
FLAG_DOCUMENT_13                   0
FLAG_DOCUMENT_14                   0
FLAG_DOCUMENT_15                   0
FLAG_DOCUMENT_16                   0
FLAG_DOCUMENT_17                   0
FLAG_DOCUMENT_18                   0
FLAG_DOCUMENT_19                   0
FLAG_DOCUMENT_20                   0
FLAG_DOCUMENT_21                   0
AMT_REQ_CREDIT_BUREAU_HOUR     41519
AMT_REQ_CREDIT_BUREAU_DAY      41519
AMT_REQ_CREDIT_BUREAU_WEEK     41519
AMT_REQ_CREDIT_BUREAU_MON      41519
AMT_REQ_CREDIT_BUREAU_QRT      41519
AMT_REQ_CREDIT_BUREAU_YEAR     41519
Length: 122, dtype: int64

In [32]:
X=train.iloc[:,2:]
y=train.iloc[:,1]
X.head()

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,Family,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,Unaccompanied,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,Unaccompanied,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
y.head()

0    1
1    0
2    0
3    0
4    0
Name: TARGET, dtype: int64

In [10]:
X_train.shape

(230633, 120)

In [11]:
X_test.shape

(76878, 120)

## 【問題2】学習と検証

In [34]:
categorical_features=[]
for col in train.columns:
    if train[col].dtype=="object":
        categorical_features.append(col)

In [35]:
categorical_features

['NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'OCCUPATION_TYPE',
 'WEEKDAY_APPR_PROCESS_START',
 'ORGANIZATION_TYPE',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE']

In [36]:
#補間・置換(train)
null_sum = 0
for col in train.columns:
    #欠損の補間
    null_sum = train[col].isnull().sum()
    train_length = train[col].count()
    if null_sum > 0:
        if train[col].dtype == object:
            train[col] = train[col].fillna(train[col].mode()[0])
        else:
            train[col] = train[col].fillna(train[col].mean())

In [37]:
X=train.iloc[:,2:]
y=train.iloc[:,1]

In [38]:
too_many=[]
for col in categorical_features:
    if X[col].nunique()>=10:
        too_many.append(col)
print(too_many)

['OCCUPATION_TYPE', 'ORGANIZATION_TYPE']

In [39]:
X_oh=pd.get_dummies(X, columns=categorical_features)

In [40]:
X_oh.shape

(307511, 244)

In [41]:
y.shape

(307511,)

In [42]:
#from sklearn.preprocessing import OneHotEncoder
#enc=OneHotEncoder(categories="auto", sparse=False, dtype=np.float32)
#oh_X=enc.fit_transform(X.values)

In [43]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X_oh, y, test_size=0.25, random_state=0)

In [44]:
from sklearn.ensemble import RandomForestRegressor
Rf=RandomForestRegressor()
Rf.fit(X_train, y_train)
y_pred=Rf.predict(X_test)

/Users/wakaichiaki/.pyenv/versions/anaconda3-2019.03/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [21]:
X["ORGANIZATION_TYPE"].nunique()

58

0.9

In [49]:
from sklearn.metrics import roc_auc_score
roc=roc_auc_score(y_test, y_pred)
roc

0.6388812764783909

## 【問題3】テストデータに対する推定

In [54]:
Rf=RandomForestRegressor()
Rf.fit(X_oh, y)

/Users/wakaichiaki/.pyenv/versions/anaconda3-2019.03/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [56]:
null_sum = 0
for col in test.columns:
    #欠損の補間
    null_sum = test[col].isnull().sum()
    test_length = test[col].count()
    if null_sum > 0:
        if test[col].dtype == object:
            test[col] = test[col].fillna(test[col].mode()[0])
        else:
            test[col] = test[col].fillna(test[col].mean())
test_oh=pd.get_dummies(test.iloc[:,1:], columns=categorical_features)

In [61]:
def fill_missing_columns(df_a, df_b):
    columns_for_b = set(df_a.columns) - set(df_b.columns)
    for column in columns_for_b:
        df_b[column] = 0
        
fill_missing_columns(X_oh, test_oh)

In [63]:
test_oh.shape

(48744, 244)

In [64]:
y_test=Rf.predict(test_oh)

In [65]:
y_test

array([0.1, 0.1, 0.2, ..., 0. , 0.1, 0.3])

In [66]:
submission_csv = pd.read_csv("/Users/wakaichiaki/Downloads/sample_submission.csv.zip")

In [68]:
submission_csv["TARGET"]=y_test
submission_csv

       SK_ID_CURR  TARGET
0          100001     0.1
1          100005     0.1
2          100013     0.2
3          100028     0.0
4          100038     0.2
5          100042     0.4
6          100057     0.0
7          100065     0.0
8          100066     0.0
9          100067     0.3
10         100074     0.0
11         100090     0.1
12         100091     0.2
13         100092     0.3
14         100106     0.1
15         100107     0.1
16         100109     0.0
17         100117     0.1
18         100128     0.3
19         100141     0.1
20         100150     0.1
21         100168     0.0
22         100169     0.4
23         100170     0.2
24         100171     0.0
25         100172     0.0
26         100184     0.0
27         100187     0.1
28         100212     0.1
29         100222     0.1
...           ...     ...
48714      455963     0.1
48715      455965     0.1
48716      456007     0.3
48717      456008     0.2
48718      456009     0.2
48719      456010     0.1
48720      456011     0.0
48721      456013     0.3
48722      456028     0.5
48723      456058     0.2
48724      456111     0.2
48725      456114     0.4
48726      456115     0.1
48727      456116     0.0
48728      456119     0.1
48729      456120     0.3
48730      456122     0.2
48731      456123     0.1
48732      456166     0.5
48733      456167     0.2
48734      456168     0.0
48735      456169     0.3
48736      456170     0.4
48737      456189     0.3
48738      456202     0.4
48739      456221     0.1
48740      456222     0.4
48741      456223     0.0
48742      456224     0.1
48743      456250     0.3

[48744 rows x 2 columns]

In [69]:
submission_csv.to_csv("first_submission", index="")